name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
    - name: Publish
      run: dotnet publish -r win-x64 -c Release /p:PublishSingleFile=true --version-suffix 'rc$GITHUB_RUN_NUMBER'
    - name: Upload Artifact
      uses: actions/upload-artifact@v1
      with:
        name: wstools
        path: MontageWeissTools/bin/Release/netcoreapp3.1/win-x64/publish/wstools.exe
